body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
  }


  #timerTitle {
    color: #f9982f;
    font-size: 15px;
    transform: scale(6) translateY(10px);
    
  }
  
  #timerDisplay {
       font-size: 395px;
    font-weight: 900;
    margin: 20px 0;
    color: #FFF;
    transition: .2s ease-in-out;
    transform: scale(1) translateY(10px);
    animation: clock 0.5s ease-in-out 0s 1 both;
  }
  
  #controls button {
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.048) 11%, rgba(255, 255, 255, 0.13) 81%, rgba(255, 255, 255, 0.295) 100%);
    border-top: solid #f0f0f0 2px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 10px 15px;
    border-radius: 50px;
    color: #f0f0f0;
    transform: perspective(100px) rotateX(-40deg) rotateY(0deg);
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation:  0.5s ease-in-out 0s 1 both;
  }

  #controls button:hover {
    background: #cccccc;
    padding: 10px 55px;
    border-radius: 50px;
    border-top: solid #f0f0f0 2px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    cursor: pointer;
    transform: perspective(300px) rotateX(0deg) rotateY(0deg);

  }

    #controls button:active {
    background: #fff;
    
    padding: 10px 55px;
    border-radius: 50px;
    border-top: solid #f0f0f0 2px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    cursor: pointer;
    filter: blur(5.4px);
    transform: perspective(300px) rotateX(0deg) rotateY(0deg);

  }
  
  #timerDisplay.warning {
      animation: parpadeoRojoBlanco 1s infinite;
  }


    @keyframes parpadeoRojoBlanco {
      0%, 100% {
        color: #f13f3f;
        text-shadow: red 1px 0 50px;
        filter: blur(6.5px) brightness(2.5);
        scale: 1.2;
      }
      50% {
        color: white;
                text-shadow: red 0px 0 0px;
                        filter: blur(0px) brightness(1);
                        scale: 1;
      }
    }


  .clock {
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    scale: 2;
    font-size: 2em;
    animation: clock 0.5s ease-in-out 0s 1 both;
    transition: .4s ease-in-out;
    padding: 0 50px;
}

@keyframes clock {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes boton {
  0% {
      transform: translateY(15px);
      opacity: 0;
  }
  100% {
      transform: translateY(-50px);
      opacity: 1;
  }
}

h1{
    color: #fff;
    font-size: 15px;
}

  /* <<<<<<tablets>>>>> */



  @media (max-width: 1090px) {
    body {
        font-family: "Montserrat", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
      }
    
    
      #timerTitle {
        color: #f9982f;
        font-size: 5px;
        transform: scale(4) translateY(6px);
      }
      
      #timerDisplay {
        font-size: 295px;
        font-weight: 900;
        margin: 20px 0;
        color: #f0f0f0;
        transition: .2s ease-in-out;
        transform: scale(1.1) translateY(10px);
      }
      
      #controls button {
        background: #f9982f;
        padding: 10px 15px;
        border-radius: 50px;
        border: none;
        color: #f0f0f0;
        transition: .3s ease-in-out;
      }
    
      #controls button:hover {
        background: #eab56f;
        padding: 10px 55px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
      }
      
      #timerDisplay.warning {
        color: red;
      }
    
    
}









  /* para telefonos xd  */

@media (max-width: 890px) {
    body {
        font-family: "Montserrat", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
      }
    
    
      #timerTitle {
        color: #f9982f;
        font-size: 5px;
        transform: scale(4) translateY(6px);
      }
      
      #timerDisplay {
        font-size: 205px;
        font-weight: 900;
        margin: 20px 0;
        color: #f0f0f0;
        transition: .2s ease-in-out;
        transform: scale(1.1) translateY(10px);
      }
      
      #controls button {
        background: #f9982f;
        padding: 10px 15px;
        border-radius: 50px;
        border: none;
        color: #f0f0f0;
        transition: .3s ease-in-out;
      }
    
      #controls button:hover {
        background: #eab56f;
        padding: 10px 55px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
      }
      
      #timerDisplay.warning {
        color: red;
      }
    
    
}




@media (max-width: 490px) {
    body {
        font-family: "Montserrat", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
      }
    
    
      #timerTitle {
        color: #f9982f;
        font-size: 5px;
        transform: scale(4) translateY(6px);
      }
      
      #timerDisplay {
        font-size: 105px;
        font-weight: 900;
        margin: 20px 0;
        color: #f0f0f0;
        transition: .2s ease-in-out;
        transform: scale(1.1) translateY(10px);
      }
      
      #controls button {
        background: #f9982f;
        padding: 10px 15px;
        border-radius: 50px;
        border: none;
        color: #f0f0f0;
        transition: .3s ease-in-out;
      }
    
      #controls button:hover {
        background: #eab56f;
        padding: 10px 55px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
      }
      
      #timerDisplay.warning {
        color: red;
      }
    
    
}
  
  
